Repository Posterrama/posterrama, changes with the owners that .github/CODEOWNERS names for each.
All owners: @team-lead, @backend-lead, @devops, @security, @frontend-dev, @ui-designer, @api-specialist, @plex-expert, @performance-expert, @qa-lead, @tech-writer

chore(admin): remove 'View Cache' management button from UI; keep endpoint for debugging
  public/admin.html
  public/admin.js
Owners: @frontend-dev, @team-lead

ux(admin): hide Effects & Transitions when Wallart Mode is enabled (initial + toggle)
  public/admin.html
  public/admin.js
Owners: @frontend-dev, @team-lead

docs(readme): add Windows/macOS PWA + Autostart guide under Platform Integration
  README.md
Owners: @tech-writer, @team-lead

chore(release): bump version to 1.9.2 and update README badge
  README.md
  package.json
Owners: @tech-writer, @team-lead

chore(deps): disable Dependabot npm PRs; add local deps advice script (npm run deps:advice)
  .github/dependabot.yml
  package.json
  scripts/deps-advice.sh
Owners: @devops, @team-lead, @backend-lead

fix(update): run updater in a detached worker so update continues after PM2 stop
  server.js
  utils/update-runner.js
Owners: @backend-lead, @team-lead

chore(lint): fix no-empty catch in update-runner logger fallback
  utils/update-runner.js
Owners: @backend-lead

chore(release): cut v1.9.3
  README.md
  package-lock.json
  package.json
Owners: @tech-writer, @team-lead

chore(release): cut v1.9.3
  package.json
Owners: @team-lead

fix(auth): preserve user through session regeneration in 2FA verify
  server.js
Owners: @backend-lead, @team-lead

feat(updater): add dry-run mode with API support; simulate phases without side effects
  server.js
  utils/update-runner.js
  utils/updater.js
Owners: @backend-lead, @team-lead, @devops

fix(admin): send 'version' (not targetVersion) when starting update; improve error text\nchore(updater): add PM2 config for detached updater (ecosystem.updater.config.js)
  ecosystem.updater.config.js
  public/admin.js
Owners: @team-lead, @frontend-dev

fix(admin): send 'version' (not targetVersion) when starting update; improve error text\nchore(updater): add PM2 config for detached updater (ecosystem.updater.config.js)
  install.sh
  server.js
Owners: @team-lead, @backend-lead

fix(updater): start PM2 updater as one-shot (no-autorestart, max-restarts=0) and correct cwd
  server.js
Owners: @backend-lead, @team-lead

fix(updater): start updater via detached Node spawn before responding; remove PM2 start to avoid unintended restarts
  server.js
Owners: @backend-lead, @team-lead

chore(updater): defer PM2 stop when launched under PM2; restart at end to avoid killing parent process mid-update
  utils/update-runner.js
  utils/updater.js
Owners: @backend-lead, @devops, @team-lead

fix(updater): preserve file ownership; deferStop flow writes final completed status and restarts via PM2; chown -R app dir after update
  utils/updater.js
Owners: @devops, @team-lead

fix(updater): pass --defer-stop to detached runner when under PM2 to avoid killing parent
  server.js
Owners: @backend-lead, @team-lead

chore(updater): use fs.rm for temp cleanup to avoid deprecation
  utils/updater.js
Owners: @devops, @team-lead

chore(updates): force update option, backups path standardized under ./backups, and lint fixes; CI config tweaks
  .github/dependabot.yml
  .github/workflows/codeql.yml
  __tests__/utils/updater.coverage.test.js
  __tests__/utils/updater.filesystem.test.js
  __tests__/utils/updater.integration.test.js
  __tests__/utils/updater.operations.test.js
  public/admin.html
  public/admin.js
  server.js
  utils/update-runner.js
  utils/updater.js
Owners: @devops, @team-lead, @qa-lead, @backend-lead, @frontend-dev

chore(release): cut v1.9.4
  package-lock.json
  package.json
Owners: @team-lead

admin: move Force Update to modal + wire force=true flow; release: keep README badge in sync in push mode
  README.md
  public/admin.html
  public/admin.js
Owners: @tech-writer, @team-lead, @frontend-dev

admin: move Force Update to modal + wire force=true flow; release: keep README badge in sync in push mode
  utils/updater.js
Owners: @devops, @team-lead

fix(admin/update): normalize stuck 'restarting' updater status to 'completed' once app is up; persist normalized state
  server.js
Owners: @backend-lead, @team-lead

fix(admin/assets): make admin asset stamping replace any query string so latest admin.js loads (prevents stale UI like old force checkbox)
  server.js
Owners: @backend-lead, @team-lead

setup: fix wizard loop by preserving ?complete=1 redirect, repair malformed <link> in setup.html head, and JSON response on POST /admin/setup when Accept: application/json
  public/setup.html
  server.js
Owners: @frontend-dev, @backend-lead, @team-lead

ui: hide Loading... text on loader; show spinner only on splash and promo loaders
  public/index.html
  public/promo.html
  public/style.css
Owners: @frontend-dev, @ui-designer

ios: use 100lvh/svh + safe-area to extend content under Safari bottom bar; adjust loading overlay height
  public/script.js
  public/style.css
Owners: @frontend-dev, @ui-designer

pwa: network-first HTML, SWR assets; stamp sw.js; iOS bg full-bleed under Safari bar; safe-area offsets for content; support ?cb cache-buster
  public/style.css
  public/sw.js
  server.js
Owners: @frontend-dev, @ui-designer, @backend-lead, @team-lead

cache-bust: auto-append &cb for iOS UA; stamp client-logger.js and manifest; promo.html stamping; no-store for stamped assets
  server.js
Owners: @backend-lead, @team-lead

chore: satisfy ESLint no-empty by adding noop comments in try/catch blocks (wallart spotlight/ambient)
  public/script.js
Owners: @frontend-dev

Admin UI: add Wallart ambient gradient + spotlight toggles, extend animation options (staggered, ripple); wire load/save in admin.js; extend config.schema for new Wallart fields
  config.schema.json
  public/admin.html
  public/admin.js
Owners: @team-lead, @security, @frontend-dev

fix: address ESLint issues in script.js (unused param, undefined ref, no-empty catches)
  public/script.js
Owners: @frontend-dev

Optimize wallart mode for portrait: perfect 4x4 hero poster with full grid coverage
  __tests__/utils/env.validation.integration.test.js
  config.schema.json
  public/admin.css
  public/admin.html
  public/admin.js
  public/script.js
  public/style.css
  validate-env.js
Owners: @qa-lead, @backend-lead, @team-lead, @security, @frontend-dev, @ui-designer

Update README with wallart hero feature and enhance admin UI
  README.md
  public/admin.css
  public/admin.html
  public/admin.js
  screenshots/admin.png
  screenshots/wallart_hero.png
Owners: @tech-writer, @team-lead, @frontend-dev, @ui-designer

feat: Comprehensive Quick Help enhancement and Swagger cleanup
  config.example.json
  config.schema.json
  public/admin.js
  public/script.js
  server.js
  swagger.js
Owners: @team-lead, @tech-writer, @security, @frontend-dev, @backend-lead, @api-specialist

chore(release): cut v1.9.5
  package-lock.json
  package.json
Owners: @team-lead

docs: update README version badge to 1.9.5
  README.md
Owners: @tech-writer, @team-lead

Add Jellyfin integration with robust admin UI support
  README.md
  check-env.js
  config.example.env
  debug-jellyfin-genres.mjs
  ecosystem.config.js
  package-lock.json
  package.json
  public/admin.css
  public/admin.html
  public/admin.js
  server.js
  sources/jellyfin.js
  sources/plex.js
  test-admin-genre-api.mjs
  test-error-resilience.mjs
  test-jellyfin-admin-ui.mjs
  test-jellyfin-comprehensive.mjs
  test-jellyfin-error-fix.mjs
  test-jellyfin-genres-debug.mjs
  test-jellyfin-improvements.mjs
  test-jellyfin-integration.mjs
  test-jellyfin-manual.js
  test-jellyfin-no-sdk.mjs
  test-jellyfin-posters.mjs
  test-jellyfin.mjs
  utils/jellyfin-http-client.js
Owners: @tech-writer, @team-lead, @devops, @frontend-dev, @ui-designer, @backend-lead, @api-specialist, @plex-expert

Organize development scripts and fix linting issues
  .eslintignore
  .eslintrc.js
  package-lock.json
  package.json
  scripts/jellyfin-tests/README.md
  scripts/jellyfin-tests/check-env.js
  scripts/jellyfin-tests/debug-jellyfin-genres.mjs
  scripts/jellyfin-tests/test-admin-genre-api.mjs
  scripts/jellyfin-tests/test-error-resilience.mjs
  scripts/jellyfin-tests/test-jellyfin-admin-ui.mjs
  scripts/jellyfin-tests/test-jellyfin-comprehensive.mjs
  scripts/jellyfin-tests/test-jellyfin-error-fix.mjs
  scripts/jellyfin-tests/test-jellyfin-genres-debug.mjs
  scripts/jellyfin-tests/test-jellyfin-improvements.mjs
  scripts/jellyfin-tests/test-jellyfin-integration.mjs
  scripts/jellyfin-tests/test-jellyfin-manual.js
  scripts/jellyfin-tests/test-jellyfin-no-sdk.mjs
  scripts/jellyfin-tests/test-jellyfin-posters.mjs
  scripts/jellyfin-tests/test-jellyfin.mjs
  scripts/validation/README.md
  scripts/validation/validate-api-responses.js
  scripts/validation/verify-api-docs.js
  server.js
  sources/jellyfin.js
Owners: @team-lead, @devops, @backend-lead, @api-specialist

.github/CODEOWNERS:

# Code Owners for Posterrama
# This file defines who should review changes to specific parts of the codebase

# Global fallback - at least one of these should review everything
* @team-lead

# Core application files
/server.js @backend-lead @team-lead
/package.json @team-lead
/package-lock.json @team-lead

# Configuration and environment
/config/ @team-lead @devops
/.env* @team-lead @security
/ecosystem.config.js @devops @team-lead

# Frontend & UI
/public/ @frontend-dev
/public/admin.js @frontend-dev @team-lead
/public/admin.html @frontend-dev
/public/script.js @frontend-dev
/public/style.css @frontend-dev @ui-designer
/public/admin.css @frontend-dev @ui-designer

# Media integrations (critical for functionality)
/sources/ @backend-lead @api-specialist
/sources/plex.js @plex-expert @backend-lead
/sources/tmdb.js @api-specialist @backend-lead
/sources/tvdb.js @api-specialist @backend-lead

# Security-sensitive middleware
/middleware/ @security @backend-lead
/middleware/auth.js @security @team-lead
/middleware/validation.js @security @backend-lead
/middleware/rateLimiter.js @security @backend-lead

# Core utilities
/utils/ @backend-lead
/utils/cache.js @performance-expert @backend-lead
/utils/github.js @devops @backend-lead
/utils/updater.js @devops @team-lead

# Testing (quality assurance)
/__tests__/ @qa-lead @backend-lead
/jest.config.js @qa-lead @team-lead
/jest.setup.js @qa-lead @backend-lead

# Documentation
/docs/ @tech-writer @team-lead
/README.md @tech-writer @team-lead
/CHANGELOG.md @team-lead

# CI/CD and DevOps
/.github/ @devops @team-lead
/.github/workflows/ @devops @team-lead
/scripts/ @devops @backend-lead

# Code quality and linting
/.eslintrc.js @team-lead
/.prettierrc @team-lead
/.prettierignore @team-lead

# Docker and deployment
/Dockerfile @devops
/docker-compose.yml @devops
/.dockerignore @devops

# Sensitive configuration schemas
/config.schema.json @team-lead @security

# Error handling and logging
/errors.js @backend-lead @team-lead
/logger.js @backend-lead @devops

# API documentation
/swagger.js @api-specialist @tech-writer @backend-lead

# Validation schemas
/validators.js @backend-lead @security

# Database or data-related files
/validate-*.js @backend-lead @security

# Performance-critical files
/validate-api-responses.js @performance-expert @backend-lead

# Examples and templates
/config.example.* @team-lead @tech-writer
