Repository Posterrama/posterrama, changes with the owners that .github/CODEOWNERS names for each.
All owners: @team-lead, @backend-lead, @devops, @security, @frontend-dev, @ui-designer, @api-specialist, @plex-expert, @performance-expert, @qa-lead, @tech-writer

.github/CODEOWNERS:

# Code Owners for Posterrama
# This file defines who should review changes to specific parts of the codebase

# Global fallback - at least one of these should review everything
* @team-lead

# Core application files
/server.js @backend-lead @team-lead
/package.json @team-lead
/package-lock.json @team-lead

# Configuration and environment
/config/ @team-lead @devops
/.env* @team-lead @security
/ecosystem.config.js @devops @team-lead

# Frontend & UI
/public/ @frontend-dev
/public/admin.js @frontend-dev @team-lead
/public/admin.html @frontend-dev
/public/script.js @frontend-dev
/public/style.css @frontend-dev @ui-designer
/public/admin.css @frontend-dev @ui-designer

# Media integrations (critical for functionality)
/sources/ @backend-lead @api-specialist
/sources/plex.js @plex-expert @backend-lead
/sources/tmdb.js @api-specialist @backend-lead
/sources/tvdb.js @api-specialist @backend-lead

# Security-sensitive middleware
/middleware/ @security @backend-lead
/middleware/auth.js @security @team-lead
/middleware/validation.js @security @backend-lead
/middleware/rateLimiter.js @security @backend-lead

# Core utilities
/utils/ @backend-lead
/utils/cache.js @performance-expert @backend-lead
/utils/github.js @devops @backend-lead
/utils/updater.js @devops @team-lead

# Testing (quality assurance)
/__tests__/ @qa-lead @backend-lead
/jest.config.js @qa-lead @team-lead
/jest.setup.js @qa-lead @backend-lead

# Documentation
/docs/ @tech-writer @team-lead
/README.md @tech-writer @team-lead
/CHANGELOG.md @team-lead

# CI/CD and DevOps
/.github/ @devops @team-lead
/.github/workflows/ @devops @team-lead
/scripts/ @devops @backend-lead

# Code quality and linting
/.eslintrc.js @team-lead
/.prettierrc @team-lead
/.prettierignore @team-lead

# Docker and deployment
/Dockerfile @devops
/docker-compose.yml @devops
/.dockerignore @devops

# Sensitive configuration schemas
/config.schema.json @team-lead @security

# Error handling and logging
/errors.js @backend-lead @team-lead
/logger.js @backend-lead @devops

# API documentation
/swagger.js @api-specialist @tech-writer @backend-lead

# Validation schemas
/validators.js @backend-lead @security

# Database or data-related files
/validate-*.js @backend-lead @security

# Performance-critical files
/validate-api-responses.js @performance-expert @backend-lead

# Examples and templates
/config.example.* @team-lead @tech-writer

feat: add automated installation script and organize documentation
  README.md
  docs/CODE-REVIEW-SUMMARY.md
  docs/SECURITY-SETUP-COMPLETE.md
  install.sh
Owners: @tech-writer, @team-lead

🎨 Complete wallart mode optimization with mobile support
  public/index.html
  public/script.js
  public/style.css
  scripts/setup-branch-protection.sh
  server.js
Owners: @frontend-dev, @ui-designer, @devops, @backend-lead, @team-lead

🎯 STABLE RELEASE: Complete wallart mode with all optimizations
  public/script.js
Owners: @frontend-dev

🎯 Fix promo site (port 4001) issues - Phase 1
  public/promo.html
  server.js
Owners: @frontend-dev, @backend-lead, @team-lead

🎯 Fix promo site clock positioning and timing - Phase 2
  public/promo.html
  public/script.js
Owners: @frontend-dev

Fix frontend logger and promo site wallart mode inheritance
  public/script.js
  server.js
Owners: @frontend-dev, @backend-lead, @team-lead

Fix cinema mode - hide all required elements
  public/style.css
Owners: @frontend-dev, @ui-designer

Fix promo site controls visibility and layout
  public/promo.html
Owners: @frontend-dev

Fix mobile screensaver mode layout
  public/style.css
Owners: @frontend-dev, @ui-designer

🚀 Major UI/UX improvements and PWA features
  config.example.json
  public/admin.css
  public/admin.js
  public/favicon.ico
  public/icons/icon-128x128.png
  public/icons/icon-144x144.png
  public/icons/icon-152x152.png
  public/icons/icon-16x16.png
  public/icons/icon-192x192.png
  public/icons/icon-32x32.png
  public/icons/icon-384x384.png
  public/icons/icon-512x512.png
  public/icons/icon-72x72.png
  public/icons/icon-96x96.png
  public/icons/posterrama-icon.svg
  public/index.html
  public/manifest.json
  public/promo.html
  public/script.js
  public/style.css
  public/sw.js
Owners: @team-lead, @tech-writer, @frontend-dev, @ui-designer

🔧 Fix lint errors
  public/admin.js
  public/script.js
Owners: @frontend-dev, @team-lead

🔧 Fix one-liner installer for root and sudo environments
  README.md
  install.sh
  public/promo.html
Owners: @tech-writer, @team-lead, @frontend-dev

🔧 Fix remaining sudo commands in install script
  install.sh
Owners: @team-lead

🔧 Fix permission issues in install script
  install.sh
Owners: @team-lead

🔧 Fix npm and PM2 PATH issues in install script
  install.sh
Owners: @team-lead

🔧 Fix nvm/custom Node.js PATH detection
  install.sh
Owners: @team-lead

🔧 Create symlinks for Node.js binaries to fix nvm access
  install.sh
Owners: @team-lead

Fix installer PATH and binary access for posterrama user
  install.sh
Owners: @team-lead

Make installer flexible for root-only systems
  install.sh
Owners: @team-lead

Fix runtime directory ownership for posterrama user
  install.sh
Owners: @team-lead

Fix Git safe directory for root access after installation
  install.sh
Owners: @team-lead

Add TMDB coverage enhancement tests
  __tests__/sources/tmdb.coverage.test.js
Owners: @qa-lead, @backend-lead

Add comprehensive coverage enhancement tests for logger, healthCheck, and updater
  __tests__/utils/healthCheck.coverage.test.js
  __tests__/utils/logger.coverage.test.js
  __tests__/utils/updater.coverage.test.js
Owners: @qa-lead, @backend-lead

Fix lint issues in coverage tests
  __tests__/utils/healthCheck.coverage.test.js
  __tests__/utils/updater.coverage.test.js
Owners: @qa-lead, @backend-lead

Major improvements: Admin UI cleanup, documentation overhaul, and code quality enhancements
  .gitignore
  README.md
  config.example.env
  middleware/validation.js
  public/admin.html
  public/admin.js
  public/promo.html
  public/setup.html
  server.js
  swagger.js
Owners: @team-lead, @tech-writer, @security, @backend-lead, @frontend-dev, @api-specialist

Release v1.9.0
  README.md
  package.json
Owners: @tech-writer, @team-lead

Fix CI workflow syntax error
  .github/workflows/ci.yml
Owners: @devops, @team-lead

README: Clean Apple-style redesign
  README.md
Owners: @tech-writer, @team-lead

Remove table formatting from screenshots for cleaner layout
  README.md
Owners: @tech-writer, @team-lead

Enhance documentation with expanded features, API docs, troubleshooting, and coming soon section
  README.md
Owners: @tech-writer, @team-lead

Clean up README: remove emoji clutter, simplify tables, keep all content with calmer design
  README.md
Owners: @tech-writer, @team-lead

Update README: fix title, align image captions properly with flexbox layout
  README.md
Owners: @tech-writer, @team-lead

docs: update README.md to refined V2 version
  README.md
Owners: @tech-writer, @team-lead

chore(release): v1.9.1 – align help panel with header, reorder Management help, minor UI polish
  README.md
  package.json
  public/admin.css
  public/admin.html
  public/admin.js
  server.js
Owners: @tech-writer, @team-lead, @frontend-dev, @ui-designer, @backend-lead

security(session): harden cookie flags; rotate session IDs on login and 2FA; clear cookie on logout
  server.js
Owners: @backend-lead, @team-lead

ci(codeql): add CodeQL analysis workflow (low-risk security scanning)
  .github/workflows/codeql.yml
Owners: @devops, @team-lead

ci(deps): enable Dependabot for npm and GitHub Actions (weekly)
  .github/dependabot.yml
Owners: @devops, @team-lead

ci(config): validate config.json against config.schema.json during build job
  .github/workflows/ci.yml
Owners: @devops, @team-lead

security(headers): set Referrer-Policy to strict-origin-when-cross-origin via helmet
  middleware/index.js
Owners: @security, @backend-lead

security(csp): add minimal /csp-report endpoint to capture CSP violation reports
  server.js
Owners: @backend-lead, @team-lead
